.section-detalle {
    background-color: #80c8e1;
    font-size: larger;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 25px;
      
    &__header {
      text-align: center;
      padding-bottom: 15px;
      
      h1 {
        
        color: #0f0e0e;
        font-size: 35px;
        font-weight: 600;
        text-transform: uppercase;
      letter-spacing: 1px;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
      }
    }
  
    &__producto-Detalle {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
  
      h2 {
        font-size: 1.8rem;
        color: #222;
        margin-bottom: 15px;
      }
  
      img {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      }
  
      p {
        font-size: 1.1rem;
        font-weight: bold;
        color: #222;
        margin: 5px 0;
  
        &:nth-child(odd) {
          font-weight: bold;
          color: #222;
        }
      }
  
      p:last-child {
        font-size: 1.5rem;
        font-weight: bold;
        color: #e63946;
        margin-top: 10px;
      }
  
      strong:last-child {
        font-size: 1.5rem;
        font-weight: bold;
        color: #222;
        margin-top: 10px;
      }
    }
  }
  
  // Estilos para pantallas grandes
  @media screen and (min-width: 992px) {
    .section-detalle__producto-Detalle {
      img {
        &:hover {
          transform: scale(1.1);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }
      }
  
      p:last-child {
        background-color: #ffcc00;
        color: #222;
        padding: 10px 20px;
        border-radius: 10px;
        display: inline-block;
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease-in-out;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  