/* ----------------------------------------------- */
/* HEADER                                          */
/* ----------------------------------------------- */
/* MOBILE FIRST */
.main-header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    background-color: #061523;
    
    @media screen and (min-width: 992px) {
        flex-direction: column;
    }
}

#menu {
    display: none;
    
    
    &:checked+.nav-bar {
        display: block;
    }
    
    &:checked~.search-bar .menu-toogle .menu-toogle__label {
        background-color: #267b84;
        
    }
}


/* ----------------------------------------------- */
/* MENÚ TOOGLE                                     */
/* ----------------------------------------------- */

.menu-toogle {
    display: block;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    

    &__label {
        display: block;
        background-color: #061523;
        padding: 10px;
        margin: 20px;
        cursor: pointer;
        
    }

    &__top-bread,
    &__meat,
    &__bottom-bread {
        display: block;
        background-color: whitesmoke;
        height: 2px;
        width: 25px;
        margin: 5px auto;
    }

    @media screen and (min-width: 992px) {
        display: none;
    }
}