
/* ----------------------------------------------- */
/* SEARCH BAR                                          */
/* ----------------------------------------------- */

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #061523;
    width: 100%;
    padding: 10px 0;
    

    &__logo-container {
        font-size: 40px;
        font-weight: bold;
        width: 15%;
        text-align: center;
        
    }
    &__logo-container a {
        color: white;
    } 

    &__form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        background-color: #061523; /* Fondo igual al buscar */
    }

    &__form-label{
        display: none;
    }

    &__form-search {
        width: 35%; /* Input más chico */
        padding: 5px;
    }

    &__form-submit {
        width: 20%;
        font-weight:bolder ;
        border: 1px solid white;
        margin-top: 5px;
        transition: transform 0.3s ease, border 0.3s ease;
    }
    &__form-submit:hover {
        background-color: #267b84;
        transform: scale(1.1);
    }

    &__carrito-container {
        margin-top: 10px;
        
    }
    
    &__carrito-container img {
        width: 70%;
        margin-left: 10px;
        
    }

    .brackets {
        color: rgb(210, 30, 210);
      }
    
    @media screen and (min-width: 992px){
        &__form-submit {
            width: 12%;
            font-weight:bolder ;
            border: 1px solid white;
            
        }
        }

    @media screen and (min-width: 600px) {
        
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        
    }
    
    @media screen and (max-width: 365px) {
        flex-direction: column;
        width: 100%;
    }
}
