
/* ----------------------------------------------- */
/* SEARCH BAR                                          */
/* ----------------------------------------------- */

.search-bar {
    display: flex;
    background-color: #061523;
    justify-content: space-around;


    &__logo-container {
        /* .search-bar__logo-container */
        width: 18.75rem;
        height: 3.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 35px;
        letter-spacing: 2px;
        font-weight: bold;
        color: white;

    }


    &__logo-container a {
        padding-top: 4px;
        text-decoration: none;
        color: inherit;
        transition: transform 0.4s ease-in-out;
    }

    &__logo-container a:hover {
        transform: scale(1.4);
    }


    &__form-container {
        /* .search-bar__form-container */
        padding: 1rem;
        background-color: #061523;
        display: flex;
        flex-basis: 100%;
        justify-content: center;


    }

    &__form-label {
        background-color: #061523;
        color: #f3f0f0;
        margin: 10px;
    }

    &__form-search {
        background-color: #f3f0f0;
        border: 1px solid #267b84;
        cursor: text;
    }

    &__form-submit {
        background-color: #f3f0f0;
        margin: 5px;
        padding: 3px;
        border: 1px solid #267b84;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    &__form-submit:hover {
        background-color: #267b84;
        border: 2px solid #f3f0f0;
        transform: scale(1.1);

    }

    &__carrito-container {
        flex: 0 0 3rem;
        /* shorthand (grow shrink basis) */
        background-color: #061523;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__carrito-container img {
        width: 80%;
        height: auto;
        padding-left: 3px;
        cursor: pointer;

    }

    @media screen and (min-width: 992px) {
        &__carrito-container img {
            transition: transform 0.5s ease-in-out;
            margin-right: 10px;
            box-shadow: 0px 4px 20px rgba(1, 1, 1, 0.615);
        }

        &__carrito-container img:hover {
            transform: scale(1.7);

        }
    }
}